*{
    margin: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    width: 100wh;
    background-color: antiquewhite;
    display: grid;
    grid-template-rows: 1fr 12fr;
    /* row-gap: 2rem; */
}
.head{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* a:link{
    color: white;
    text-decoration: none;
} */
a{
    color: white;
    text-decoration: none;
}

.head-start{
    width: 50%; /*this is imp*/
    display: flex;
    justify-content: space-around;
}
.head-end{
    width: 20%;
    display: flex;
    justify-content: space-around;

}


.content{
    background-color: rgb(140, 240, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
    /* display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 2fr 1fr;
    justify-content: center; */
    /* row-gap: 2rem; */
    position: relative;
}
h1{
    margin-top: 5rem;
}
.box{
    height: 45vh;
    width: 80vw;
    background-color: black;
    margin-top: 5rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 20px black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding-left: 2rem;
}
button{
    width:13%;
    height: 15%;
    color: white;
    background-color: black;
    border: 2px solid Rgb(140, 240, 243);
    font-weight: bold;
    font-size: large;
}

button:hover{
    background-color: rgb(110, 153, 155);
    text-decoration: underline;
}

.side{
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    bottom: 2rem;
    right: 10px;
}