:root{
    /* color & bg-color */
    --primary:#00bcd4;
    --bg-page: rgb(140, 240, 243);
    --bg-dark:#1f1f1f;
    --bg-nav:#0f1720;

    --text-main:#ffffff;
    --text-muted:#cfd8dc;

    --border-accent:#00bcd4;

    /* //spacing// */
    --space-1:4px;
    --space-2:8px;
    --space-3:12px;
    --space-4:16px;
    --space-5:20px;
    --space-6:24px;
    --space-8:32px;
    --space-10:40px;
    --space-12:48px;
    --space-16:64px;
    --space-24:96px;
    --space-32:128px;

    /* border radius */
    --radius-1:4px;
    --radius-2:8px;
    --radius-4:16px;
    --radius-full:50%;

    /* shadow */
    --shadow-sm:0 2px 6px rgba(0,0,0,0.15);
    --shadow-md:0 8px 20px rgba(0,0,0,0.2);
    --shadow-md:0 20px 40px rgba(0,0,0,0.25);

    /* Font-size */
    --text-sm:14px;
    --text-md:16px;
    --text-lg:20px;
    --text-xl:24px;
}



*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg-dark);
    font-family: sans-serif;
}
.container{
    /* height: 100vh; */
    width: 100wh;
    /* background-color: antiquewhite; */
    display: grid;
    grid-template-rows: 88px 12fr;
    /* row-gap: 2rem; */
}



/* first page of AMD-layout */
.head{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    color: white;
    text-decoration: none;
}
a img{
    height: 2.125rem;
    width: 6.875rem;
}

.head-start{
    width: 50%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
    padding-left: 30px;
}
.head-end{
    width: 20%;
    display: flex;
    justify-content: space-around;
    padding-right: 50px;
    /* background-color: red; */
}
.content{
    background-color: rgb(140, 240, 243);
    /* border: 5px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--space-32);
}
.h{
    margin-top: 5rem;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
}
.box{
    height: 63vh;
    width: 86vw;
    background-color: black;
    margin-top: 4rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 20px black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-left: 2rem;
    background-image: url(./img/image2.jpg);
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
}
.btn{
    width:13%;
    height: 15%;
    margin-top: 1rem;
    color: white;
    background-color: black;
    border: 2px solid Rgb(140, 240, 243);
    font-weight: bold;
    font-size: large;
}

.btn:hover{
    background-color: rgb(110, 153, 155);
    text-decoration: underline;
}

button{
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
}
.side{
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    bottom: 2rem;
    right: 10px;
    position: fixed;
}


/*2nd page of AMD-layout  */
.why-amd{
    margin-bottom: var(--space-24);
    padding-bottom: var(--space-32);
    background-color: var(--bg-dark);
    color: var(--text-main);
}
.why-head{
    margin-bottom: var(--space-12);
    color: var(--text-main);
    /* background-color: red; */
}
.div-table{
    width: 87vw;
    margin: 0 auto;
    /* display: flex;
    justify-content: space-between; */
    /* background-color: red; */
}

/* .div-table head{
    margin-bottom: 120px;
} */
.div-table th{
    padding-bottom: 20px;
    text-align: left;
    font-size: var(--text-lg);
}
.div-table td{
    padding-right: 40px;
    text-align: left;
    /* font-size: var(--text-lg); */
}
/* .div-table table{
    border-collapse: separate;
    border-spacing: 20px 0;
} */
.why-amd-btn{
    /* padding:20px; */
    min-width: 250px;
    height: 60px;
}
.btn-div{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    margin-top: var(--space-24);
}






.trust-amd{
    margin-top: -90px;
}
.trust-amd-box{
    width: 80vw;
    background-color: rgb(54, 54, 54);
    height: 200px;
    margin: 0 auto;
}

.amd-portfolio{
    margin-top: var(--space-32);
}
.amd-portfolio-div{
    width: 80vw;
    height: 600px;
    margin: 0 auto;
    /* background-color: red; */
    border: 1px solid brown;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.amd-portfolio-box{
    height: 550px;
    width: 24%;
    background-color: #00bcd4;

}
