:root{
    /* color & bg-color */
    --primary:#00bcd4;
    --bg-page: rgb(140, 240, 243);
    --bg-dark:#1f1f1f;
    --bg-nav:#0f1720;

    --text-main:#ffffff;
    --text-muted:#cfd8dc;

    --border-accent:#00bcd4;

    /* //spacing// */
    --space-1:4px;
    --space-2:8px;
    --space-3:12px;
    --space-4:16px;
    --space-5:20px;
    --space-6:24px;
    --space-8:32px;
    --space-10:40px;
    --space-12:48px;
    --space-16:64px;
    --space-24:96px;
    --space-32:128px;

    /* border radius */
    --radius-1:4px;
    --radius-2:8px;
    --radius-4:16px;
    --radius-full:50%;

    /* shadow */
    --shadow-sm:0 2px 6px rgba(0,0,0,0.15);
    --shadow-md:0 8px 20px rgba(0,0,0,0.2);
    --shadow-md:0 20px 40px rgba(0,0,0,0.25);

    /* Font-size */
    --text-sm:14px;
    --text-md:16px;
    --text-lg:20px;
    --text-xl:24px;
}



*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg-dark);
    font-family: sans-serif;
}

.container{
    /* height: 100vh; */
    width: 100wh;
    /* background-color: antiquewhite; */
    display: grid;
    grid-template-rows: 88px 12fr;
    /* row-gap: 2rem; */
}
.head{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* a:link{
    color: white;
    text-decoration: none;
} */
a{
    color: white;
    text-decoration: none;
}

.head-start{
    width: 50%; /*this is imp*/
    display: flex;
    justify-content: space-around;
}
.head-end{
    width: 20%;
    display: flex;
    justify-content: space-around;

}


.content{
    background-color: rgb(140, 240, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: var(--space-32);
    /* display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 2fr 1fr;
    justify-content: center; */
    /* row-gap: 2rem; */
    /* position: relative; */
}
.h{
    margin-top: 5rem;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
}
.box{
    height: 45vh;
    width: 80vw;
    background-color: black;
    margin-top: 5rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 20px black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    padding-left: 2rem;
}
.btn{
    width:13%;
    height: 15%;
    color: white;
    background-color: black;
    border: 2px solid Rgb(140, 240, 243);
    font-weight: bold;
    font-size: large;
}

.btn:hover{
    background-color: rgb(110, 153, 155);
    text-decoration: underline;
}

button{
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
}
.side{
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    bottom: 2rem;
    right: 10px;
}


.why-amd{
    /* margin-top: var(--space-12); */
    margin-bottom: var(--space-32);
    padding-bottom: var(--space-32);
    background-color: var(--bg-dark);
    color: var(--text-main);
}
.why-head{
    margin-bottom: var(--space-12);
}
.div-table{
    /* background-color: aquamarine; */
    width: 80vw;
    margin: 0 auto;
    /* display: flex;
    justify-content: space-between; */
}

thead{
    margin-bottom: 20px;
}
thead th{
    padding-bottom: 20px;
    text-align: left;
    font-size: var(--text-lg);
}
.why-amd-btn{
    /* padding:20px; */
    width: 250px;
    height: 60px;
}
.btn-div{
    /* background-color: red; */
    display: flex;
    justify-content: center;
    margin-top: var(--space-24);
}