:root{
    /* color & bg-color */
    --primary:#00bcd4;
    --bg-page: rgb(140, 240, 243);
    --bg-dark:black;
    --bg-nav:#0f1720;

    --text-main:#ffffff;
    --text-muted:#cfd8dc;

    --border-accent:#00bcd4;

    /* //spacing// */
    --space-1:4px;
    --space-2:8px;
    --space-3:12px;
    --space-4:16px;
    --space-5:20px;
    --space-6:24px;
    --space-8:32px;
    --space-10:40px;
    --space-12:48px;
    --space-16:64px;
    --space-24:96px;
    --space-32:128px;

    /* border radius */
    --radius-1:4px;
    --radius-2:8px;
    --radius-4:16px;
    --radius-full:50%;

    /* shadow */
    --shadow-sm:0 2px 6px rgba(0,0,0,0.15);
    --shadow-md:0 8px 20px rgba(0,0,0,0.2);
    --shadow-lg:0 20px 40px rgba(0,0,0,0.25);

    /* Font-size */
    --text-sm:14px;
    --text-md:16px;
    --text-lg:20px;
    --text-xl:24px;
}



*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg-dark);
    font-family: sans-serif;
}
.container{
    width: 100wh;
    display: grid;
    grid-template-rows: 88px 12fr;
}



/* first page of AMD-layout */
.head{
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
a{
    color:var(--text-main) ;
    text-decoration: none;
}
a img{
    height: 2.125rem;
    width: 6.875rem;
}

.head-start{
    width: 50%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 30px;
}
.head-end{
    width: 20%;
    display: flex;
    justify-content: space-around;
    padding-right: 50px;
}
.content{
    background-color: rgb(140, 240, 243);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 14rem;
    background-image: url(./img/image11.png);
    background-position:center;
    background-size: cover;
}
.h{
    margin-top: 5rem;
    font-size: 2.2rem;
    font-weight: 600;
    text-align: center;
    color: var(--text-main);
}
.box{
    min-height: 450px;
    width: 86vw;
    max-width: 1400px;
    background-color: black;
    margin-top: 4rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 20px black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding-left: 2rem;
    background-image: url(./img/image2.jpg);
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
}
.btn{
    width:155px;
    height: 55px;
    margin-top: 1rem;
    color: white;
    background-color: black;
    border: 1px solid #00c2de;
    font-weight: bold;
    font-size: large;
}

.btn:hover{
    background-color: rgb(110, 153, 155);
    text-decoration: underline;
}

button{
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    font-size: 1.1rem;
}
.person{
    background-color: black;
    color: white;
    position: relative;
    top: 6px;
    left: 6px;
    font-weight: 700;
}
.side{
    height: 40px;
    width: 40px;
    border: 2px solid white;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    position: fixed;
}


/*2nd page of AMD-layout  */
.why-amd{
    margin-bottom: var(--space-24);
    padding-bottom: var(--space-32);
    background-color: var(--bg-dark);
    color: var(--text-main);
}
.why-head{
    margin-bottom: var(--space-12);
    color: var(--text-main);
    margin-top: 0;
}
.div-table{
    width: 86vw;
    max-width: 1400px;
    margin: 0 auto;
}

.div-table th{
    padding-bottom: 20px;
    text-align: left;
    font-size: var(--text-lg);
}
.div-table td{
    padding-right: 40px;
    text-align: left;
}
.why-amd-btn{
    min-width: 250px;
    height: 60px;
}
.btn-div{
    display: flex;
    justify-content: center;
    margin-top: var(--space-24);
}


/*<!-- 3rd page of AMD layout --> */
.trust-amd{
    padding-bottom: var(--space-32);
    background-image: url(./img/image3.jpg);
    background-size: cover;
    background-position: center;
}
.trust-amd-box{
    width: 80vw;
    max-width: 1400px;
    height: 200px;
    margin: 0 auto;
}
.trust-amd-head{
    color: var(--text-main);
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 40px;
    margin-bottom: 100px;
}



/* <!-- 4th page of AMD layout --> */
.amd-portfolio{
    padding-top: 50px;
    background-image: url(./img/image8.jpg);
    background-size: cover;

}
.amd-portfolio-div{
    width: 86vw;
    max-width: 1400px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.amd-portfolio-box{
    height: 480px;
    width: 24%;
    background-color: #1b1b1b;
    box-shadow: 0px 0px 5px rgb(59, 59, 59);
    border-radius: 5px;
}
.amd-portfolio-para{
    color:rgb(147, 143, 143);
    text-align: center;
    font-size: var(--text-lg);
    margin-bottom: var(--space-6);
}
.port-h{
    margin-bottom: var(--space-6);
}
img{
    width: 100%;
    height: 180px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.box2{
    color: var(--text-main);
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.box3 a{
    color: #2899ff;
}
.box3{
    padding: 0 15px;
}
.box3 nav{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.anchor-2{
    margin-top: 65px;
}



/* <!-- 5th page of AMD layout --> */
.dev-central{
    margin:var(--space-12) 0 ;
    min-height: 550px;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-wrap: wrap;
    background-image: url(./img/image9.jpg);
    background-size: cover;
}
.dev-central-div{
    width: 86vw;
    max-width: 1500px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-left: 800px;
}
.dev-central-article{
    height: 80%;
    width: 86%;
    display: flex;
    flex-direction: column;
    align-items: start;
}
.dev-central-h{
    color: var(--text-main);
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
}
.dev-btn{
    margin-top: 35px;
    padding: 18px 40px;
    background-color: black;
    text-decoration: none;
    border: 1px solid rgb(30, 154, 221);
}
.dev-btn:hover{
    background-color: #38767e;
    text-decoration: underline;
}
.dev-para{
    color: white;
    font-size: var(--text-lg);
}




/* <!-- 6th page of AMD layout --> */
.sec-news{
    margin-top: var(--space-16);
    width: 100%;
    background-color: black;
    padding-bottom: 200px;
    background-image: url(./img/image10.jpg);
    background-size:contain;
    background-position:bottom;
    background-repeat: no-repeat;
}
.sec-news-h3{
    color: var(--text-main);
    font-size: 1.7rem;
}
.sec-news-container{
    width: 86vw;
    max-width:1400px;
    margin: 0 auto;

}
.sec-news-div-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec-news-div-top a:hover{
    text-decoration: underline;

}
.sec-news-div-bottom{
    width: 86vw;
    max-width:1400px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    gap:10px;
    align-items: end;
    justify-content: space-between;
}
.sec-news-box{
    height: 370px;
    width: 25%;
    background-color: #1b1b1b;
    box-shadow: 0px 0px 5px rgb(59, 59, 59);
    border-radius: 5px;
}
.sec-news-box3{
    color: var(--text-muted);
    margin-top: 20px;
}
.sec-news-p{
    padding-top: 22px;
}
.box2 h3{
    font-size: medium;
}

    
/* <!-- 7th page of AMD layout --> */
.sec-footer{
    height: 570px;
    width: 100%;
    padding-top: 50px;
}
.footer-div{
    width: 86vw;
    max-width: 1400px;
    margin: 0 auto;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-div-top{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.footer-nav{
    width: 31.5%;
    display: flex;
    justify-content: space-between;
}
.footer-div-bottom{
    color: white;
    padding: 20px;
    padding-top: -40px;
    margin: auto;
    margin-bottom: 50px;

}
.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    color: #888a8b;
}
.copyright p:nth-child(2){
    font-size: small;
}
.copyright a{
    font-size: 0.9rem;
    color: #888a8b;
}
.foot-btn{
    background-color: #262727;
    padding: 17px 40px;
    border-top: 0.2px solid rgb(155, 152, 152);
    border-right:0.2px solid rgb(155, 152, 152);
    border-radius: 2px;
    box-shadow: 0px 0px 5px rgb(59, 59, 59);
    margin-left: 20px;
}
.footer-div-bottom table{
    border-collapse: separate;
    border-spacing: 70px 10px;
}
.footer-div-bottom th{
    padding-bottom: 10px;
    text-align: left;
    font-size: large;
}
.footer-div-bottom td a{
    color: #888a8b;
    font-size: 0.99rem;
}